.services {
    width: 98%;
    padding: 10px;
    
    font-size: 1.4rem;
    text-align: justify;
    line-height: 2em;
}

img {
    border-radius: 10%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  
}