@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    line-height: 1.5em;
    padding-top: 100px;
    background: #F1F1F1;

}

.container {
    margin: 0;
    
}

section[id] {
    scroll-margin-top: 100px;
}


/*contenedor Barra de navegación*/



header {
    width: 100%;
    left: 0;
    top: 0%;
    background: #333;
    position: fixed;
    
    
}

/* Logo del header */

.logo {
    float: left;
    width: 100px;
    height: 60px;
    padding: 1rem;
    display: block;
}

/* Barra de navegación horizontal */

nav {
    margin-top: auto;
    margin-bottom: auto;
    float: right;
}




nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
  
}

/* Estilos de la lista del menu de navegacion */

nav ul li {
    display: inline-block;
    
    
}

    nav ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 18px 16px;
        text-decoration: none;
    }

        nav ul li a:hover {
            background-color: gray;
        }


/* main */

main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    
}

.about_us {
    width: 98%;
    margin-right: 10px;
    padding: 10px;
    font-size: 1.4rem;
    text-align: justify;
}

.services {
    width: 98%;
    padding: 10px;
    
    font-size: 1.4rem;
    text-align: justify;
    line-height: 2em;
}
